In [1]:
A=range(5)

In [2]:
type(A)

range

In [3]:
print(A)

range(0, 5)

In [4]:
list(range(5))

[0, 1, 2, 3, 4]

In [6]:
list(range(100))

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99]

In [7]:
range(5,9)

range(5, 9)

In [8]:
list(range(5,9))

[5, 6, 7, 8]

In [11]:
list(range(1,100,3))

[1,
 4,
 7,
 10,
 13,
 16,
 19,
 22,
 25,
 28,
 31,
 34,
 37,
 40,
 43,
 46,
 49,
 52,
 55,
 58,
 61,
 64,
 67,
 70,
 73,
 76,
 79,
 82,
 85,
 88,
 91,
 94,
 97]

In [12]:
print(A)

range(0, 5)

In [13]:
B=list(range(5))
print(B)

[0, 1, 2, 3, 4]

In [16]:
list(range(3,10,2))

[3, 5, 7, 9]

In [17]:
list(range(10,1,-2))

[10, 8, 6, 4, 2]

In [18]:
for x in range(5):
    print(x)

0
1
2
3
4

In [19]:
for data in range(1,10,2):
    print(data+1)

2
4
6
8
10

In [20]:
for letter in 'PYTHON':
    print(letter)

P
Y
T
H
O
N

In [21]:
for alpha in 'sogang':
    y=alpha.upper()
    print(y)

S
O
G
A
N
G

In [29]:
for 문자 in '불타는 금용리 입니다. 치맥!' :
    print(3)

3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3

In [30]:
score={1:95, 2:80, 3:92, 4:90, 5:88}
score

{1: 95, 2: 80, 3: 92, 4: 90, 5: 88}

In [31]:
for x in score:
    print(x)

1
2
3
4
5

In [41]:
for k,v in score.items():
    print('key는 : ',k,end='')
    print('values : ', v,end='')

key는 :  1values :  95key는 :  2values :  80key는 :  3values :  92key는 :  4values :  90key는 :  5values :  88

In [45]:
for a in range(10):
    print(a)

0
1
2
3
4
5
6
7
8
9

In [53]:
for x in range(10):
    print(x,end='')
print()
for x in range(0,51,5):
    print(x,end='')
print()
for x in range(10,0,-1):
    print(x,end='')

0123456789
05101520253035404550
10987654321

In [70]:
score=[]
for i in range(5):
    data=int(input("성적을 입력하시오 : "))
    score.append(data)
print()
print('입력한 성적들 : ', score)

print('최고 성적 : ', max(score))
print('최저 성적 : ', min(score))
average=sum(score)/len(score)
print('평균 :', average)

성적을 입력하시오 : 12
성적을 입력하시오 : 33
성적을 입력하시오 : 44
성적을 입력하시오 : 55
성적을 입력하시오 : 33

입력한 성적들 :  [12, 33, 44, 55, 33]
최고 성적 :  55
최저 성적 :  12
평균 : 35.4

#